<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title and page.title != "" %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    
      {% include meta.html %}


    <meta name="google-site-verification" content="6rfoisaFmNaEYRHO9HYXh1DfkyRTrWVcs074_lJAHkQ" />
    <meta name="theme-color" content="#000000">
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />    
    <link rel="icon" type="image/jpg" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.jpg">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4900553409357424"
     crossorigin="anonymous"></script>
     
    {% seo %}
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar" id="avatar-regular">
              <img src="{{ site.baseurl }}{{ site.avatar }}" />
              </a>

            <a href="{{ site.baseurl }}/" class="site-avatar" id="avatar-mobile">
              <img src="{{ site.baseurl }}{{ site.avatar-mobile }}" />
              </a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
              <p class="site-views">{{ site.views }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/search">Search</a>
              <a href="{{ site.baseurl }}/tracks">Tracks</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>          
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4900553409357424",
      enable_page_level_ads: true
    });
  </script>

    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S9R0WMRCQK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-S9R0WMRCQK');
  </script>


</html>
