---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>

      <p class="author_title">{{ site.data.authors['RashidAljohani'].display-name }} ·  {{ page.date | date: "%B %e, %Y" }}</p>
    
      {% if page.last_modified_at %}
      <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
      {% endif %}
      <div class="post-tags">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </div>

      <div class="buymeacoffee">
        <a href="https://www.buymeacoffee.com/rashidaljohani"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me an espresso!&emoji=☕&slug=rashidaljohani&button_colour=55efc4&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" /></a>
      </div>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  <div class="share-blog">
    <p><span class="share-box"></span> 
      <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank"><img src="/images/twitter.png"></a>
      <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank"><img src="/images/facebook.png"></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{ page.title }}" target="_blank"><img src="/images/linkedin.png"></a></p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
</article>


